<body class="welcome">
  <span id="splash-overlay" class="splash"></span>
  <span id="welcome" class="z-depth-4"></span>

  <main class="valign-wrapper">
    <span class="container  ">

      <h1 class="flow-text text-lighten-2">Welcome to</h1>
      <h1 class="title text ">LearnCode</h1>

      <blockquote class="flow-text text-lighten-3">A place to learn the fundamentals of web development. </blockquote>

      

    </span>
   

</main>

</body>